.btn-outline-warning {
  color: #e9ecef !important;
  border-color: #e9ecef !important;
}
.login-right p {
  color: white;
}
.bg-info-main {
  background-color: #0dcaf0;
}
.tit-10 {
  text-indent: 10px !important;
}
.vh-100 {
  height: 100vh !important;
}
.h-80 {
  height: 80% !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-60 {
  margin-left: 40px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.d-n {
  display: none !important;
}
.d-b {
  display: block !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mw-150 {
  min-width: 150px !important;
}
.mw-400 {
  min-width: 400px !important;
}
.mw-300 {
  min-width: 300px !important;
}
.text-Warning {
  color: orange;
}
.text-white {
  color: white;
}
.w-70 {
  max-width: 70% !important;
}
.fs-15 {
  font-size: 15px !important;
}
.primary-color {
  color: rgb(97, 97, 97);
}
.br-20 {
  border-radius: 20px !important;
}
.mt-50 {
  margin-top: -50px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Logo app*/

.Logo-app h1 {
  font-size: 80px;
}

.Logo-app h3 {
  font-size: 80px;
}
/* validaion form*/
.validation-from {
  width: 330px;
}
.underline {
  border-bottom: 10px solid rgb(131, 39, 39);
  width: 20%;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 40%;
  margin-bottom: 100px;
}
.progess-bar {
  width: 150px;
}

.form-email {
  text-indent: 30px;
}
.form-password {
  text-indent: 30px;
}
.form-password-confimation {
  text-indent: 30px;
}
/* */
.sidenav {
  display: flex;
  height: 100%;
  width: 68px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0dcaf0;
  overflow-x: hidden;
  padding-top: 20px;
  align-items: center;
}

.sidenav-icon {
  width: 60px;
  height: 80px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.NavBar-icon {
  border-radius: 25px;
}
.icon-navbar {
  margin-left: 270px;
  cursor: pointer;
}

/* Calendar */
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: rgb(97, 97, 97);
  font-size: 10px;
  text-transform: uppercase;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  background: #ffffff;
  padding: 5px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(148, 148, 148);
}
.days li .blur {
  color: #cfd8d5;
}
/* Page main*/
.Right-page {
  border-right: 2px solid rgb(59, 59, 59);
}
.Left-page {
  margin-left: 20px;
}
.Left-page-head {
  align-items: center;
}
.Left-page h6 {
  text-align: center;
  font-size: 0.9rem;
}

.home-page-content-out-of-date li {
  list-style-type: disc;
}
.home-page-content-out-of-date li::marker {
  color: rgb(0, 195, 255);
}
.home-page-content-out-of-date li {
  font-size: 12px;
}
.home-page-content-contructor-img {
  display: flex;
  height: 200px; /* Or whatever */
}
.child {
  width: 200px; /* Or whatever */
  height: 200px; /* Or whatever */
  margin: auto; /* Magic! */
}
.home-page-content-contructor p {
  text-align: center;
}
/* Product*/
.CardProduct {
  margin-bottom: 20px;
}
.home-page-content {
  display: flex;
  margin-left: 233px;
}
.home-page-content-dashboard {
  display: flex;
  width: 80%;
  justify-content: space-around;
  border-right: 1px solid rgb(5, 5, 5);
  flex-wrap: wrap;
}
.home-page-content-celendar {
  margin-left: 30px;
}
.home-page-content-celendar h3 {
  margin-left: 50px;
  color: rgb(148, 148, 148);
}

.Product {
  border: 1px solid rgb(131, 131, 131);
  margin-top: 20px;
  box-shadow: -3px 4px 5px rgb(148, 148, 148);
  margin-right: 10px;
  width: 23%;
}
.Product-img {
  width: 130px;
  height: 120px;
  background-size: cover;
  background-origin: content-box;
  margin: auto;
}
.Product-content {
  padding-left: 20px;
}
.Product-content p {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  width: 120px;
  font-size: 14px;
}

.Product-content span {
  border-radius: 8px;
  border: 1px solid rgb(54, 54, 54);
}

.Navbar-Page {
  width: 61.8%;
}
.navbar-right-icon {
  display: flex;
}
/* add items */

.addvalue-dashboard-close-image {
  width: 20px;
  height: 20px;
  position: relative;
  left: 1015px;
  top: 100px;
}

.addvalue-dashboard-middle {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: -40px;
  width: 98%;
}
.addvalue-dashboard-middle input {
  width: 97%;
  height: 100px;
  border-radius: 20px;
}
.addvalue-dashboard-right {
  width: 100%;
}
.Modal-footer-input {
  width: 100%;
}
.addvalue-img {
  width: 150px;
  height: 120px;
  background-size: cover;
  background-origin: content-box;
  margin: auto;
}
.addvalue-dashboard-left-input input {
  min-width: 300px;
}

/* icon input*/
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.form-group i {
  color: #0dcaf0 !important;
}
.icon {
  padding: 10px 0px 10px 0;
  min-width: 50px;
  text-align: center;
}
.form-select {
  min-width: 300px !important;
}
.form-select {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/504/972/original/search-icon-free-vector.jpg) !important;
  background-size: 25px 22px !important;
}
.input-input-iconstyle {
  max-width: 400px;
  margin: auto;
}
.input-icon i {
  position: absolute;
}
.Right-page-btn {
  text-indent: 15px;
}
.Add-item-btn {
  display: flex;
}
.Add-item-btn i {
  margin-left: 10px;
  position: absolute;
  color: white;
  margin-top: 1px;
  margin-right: 138px;
}
.tid-10 {
  text-indent: 15px;
}
.add-product-hidden {
  display: none;
}

/* Mobile */
.nav {
  display: flex;
  align-items: center;
  height: 48px;
  margin-top: 10px;
}

.nav__list {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.nav__list li {
  width: 28px;
  height: 28px;
  margin-top: 40px;
}
.nav__list .nav__link {
  width: 16px;
  height: 16px;
  color: #333;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 48px;
  width: 16px;
  height: 16px;
}
/* Mobile */
.nav-bar {
  display: flex;
}
.nav-bars-btn {
  width: 28px;
  height: 28px;
  color: #666;
  margin-left: 8px;
  display: none;
}
.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}
.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all linear 0.3s;
  z-index: 1;
}
.nav__mobile-list {
  margin-top: 24px;
}
.nav__mobile-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}
.nav__mobile-close {
  position: absolute;
  width: 16px;
  height: 16px;
  color: #333;
  top: 1rem;
  right: 1rem;
}
.nav-input {
  display: none;
}
.nav-input:checked ~ .nav__overlay {
  display: block;
}
.nav-input:checked ~ .nav__mobile {
  transform: translateX(0%);
}
.dropdown-toggle::after {
  margin-left: 25px;
  margin-top: 15px;
}
.dropdown-menu.show {
  padding-right: 50px;
}
/*Ipad pro PC*/
@media (max-width: 1024px) {
  .nav-bars-btn {
    display: block;
  }
  .Right-page {
    width: 64%;
  }
  .Left-page {
    width: 30%;
  }
  .Product {
    width: 40%;
  }
  .w-70 {
    max-width: 72% !important;
  }
  .NavBar-icon {
    text-align: left;
  }
  .sidenav {
    display: none !important;
  }
  .Product {
    border: 1px solid rgb(131, 131, 131);
    margin-top: 20px;
    box-shadow: -3px 4px 5px rgb(148, 148, 148);
    margin-right: 10px;
    width: 44%;
  }

  .add-product-hidden {
    display: none;
    margin-bottom: 20px;
  }

  .Product-content p {
    height: 30px;
    width: 100px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .login-right {
    height: 100vh;
  }
  .Avatar-mobile {
    border-bottom: 2px solid;
    padding-bottom: 37px;
  }
  .Navbar-Page {
    margin-left: -20px;
  }
  .Product-content {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Product-content p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    height: 50px;
  }
}
/*Ipad*/
@media (max-width: 768px) {
  .Navbar-Page {
    display: none !important;
  }
  .navbar-right-icon {
    display: none !important;
  }
  .nav-bars-btn {
    display: block;
  }
  .nav__pc {
    display: none;
  }
  .Product {
    width: 45%;
  }

  .Avatar-mobile {
    border-bottom: 1px solid;
    padding-bottom: 17px;
  }
  .Product-content p {
    font-size: 12px;
  }
  .Left-page {
    display: none;
  }
  .mw-300 {
    min-width: 300px !important;
  }
  .pt-60 {
    padding-top: 0 !important;
  }
  .addvalue-dashboard-left-input input {
    min-width: 200px;
  }
  .addvalue-dashboard-middle {
    margin-top: 0px;
  }
  .addvalue-dashboard-middle input {
    width: 95%;
    height: 100px;
    border-radius: 20px;
  }
  .underline {
    border-bottom: 10px solid rgb(131, 39, 39);
    width: 40%;
    margin: auto;
    position: absolute;
    top: 15%;
    left: 33%;
    margin-bottom: 100px;
  }
  .Right-page {
    border: none;
  }
  .w-70 {
    max-width: 100% !important;
  }
  .col-sm-9 {
    flex: 1 0 75% !important;
  }
}
/* Mobile*/
@media (max-width: 375px) {
  .login-left {
    display: none;
  }
  .validation-from {
    width: 380px;
  }
  .Product {
    width: 100%;
  }
  .w-70 {
    max-width: 100% !important;
  }
  .Right-page {
    border: none;
  }
  .Left-page {
    margin-left: 50px;
    max-width: 100% !important;
  }
  .Left-page-head {
    margin-top: 40px;
    margin-left: 40px;
  }

  .add-product-hidden {
    display: block;
  }
  .Add-item-btn {
    display: none;
  }
  .addvalue-dashboard-middle input {
    width: 92%;
    border-radius: 10px;
    height: 50px;
  }
  .tid-10 {
    text-indent: 0 !important;
    margin-right: 10px !important;
  }
  .modal-body {
    display: flex;
    flex-direction: column-reverse;
  }
  .addvalue-dashboard-left-input input {
    min-width: 98%;
  }
  .home-page-content-contructor-img {
    margin-bottom: 60px;
  }
  .input-icon {
    padding: 0 10px 0 10px;
  }
  .password-progess-bar {
    padding: 0 10px 0 10px;
  }
  .password-progess-bar-input {
    padding: 0 10px 0 10px;
  }
  .underline {
    border-bottom: 10px solid rgb(131, 39, 39);
    width: 40%;
    margin: auto;
    position: absolute;
    top: 17%;
    left: 30%;
    margin-bottom: 100px;
  }
  .Product-content p {
    margin-bottom: -10px;
  }
}

@keyframes fadeIn {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
