.mr-10 {
  margin-right: 10px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.validation-from {
  width:300px
}
.underline {
  border-bottom: 10px solid rgb(131, 39, 39);
  width:20%;
  margin:auto;
  position: absolute;
  top:25%;
  left: 40%;
  margin-bottom: 100px;
}
.progess-bar {
  width: 100px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 195, 255);
  overflow-x: hidden;
  padding-top: 20px;
  align-items: center;

}

.sidenav-icon {
  background-color: transparent;
  color: rgb(0, 195, 255);
  width:60px;
  height:80px;
  margin-bottom: 20px;
}
.NavBar-icon {
  border-radius: 25px;
}

/* calender*/
/* Calendar */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: rgb(97, 97, 97);
  font-size: 10px;
  text-transform: uppercase;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
    background:#ffffff;
  padding: 5px;
  border:1px solid rgb(148, 148, 148);
  border-radius:10px;
    box-shadow: 1px 2px 5px rgb(148, 148, 148);
}
.days li .blur {
    color:#cfd8d5;
}
/* Page main*/
.Right-page {
  border-right: 10px solid #eee;
}
.Left-page {
  margin-left: 20px;
}
.Left-page-head {
  align-items: center;
}
.Left-page h5 {
  text-align: center;
}

.home-page-content-out-of-date li {
  list-style-type:disc;
}
.home-page-content-out-of-date li::marker {
  color:rgb(0, 195, 255);
}
.home-page-content-out-of-date li{
  font-size:15px;
}
.home-page-content-contructor-img {
  background-image:url(https://media.istockphoto.com/vectors/office-vector-id1002049972?b=1&k=6&m=1002049972&s=612x612&w=0&h=pb5XBbqB1k9pPfNtPqmXSYf6xXTqeI7qjIB_u1Peh1s=);
  width:400px;
  height:400px;


}
.home-page-content-contructor p{
  text-align: center;
}
/* Product*/
.CardProduct {
  margin-bottom: 20px;
}
.home-page-content {
  display: flex;
  margin-left: 233px;
}
.home-page-content-dashboard {
  display: flex;
  width: 80%;
  justify-content: space-around;
  border-right: 1px solid rgb(5, 5, 5);
  flex-wrap: wrap;
}
.home-page-content-celendar {
  margin-left: 30px;
}
.home-page-content-celendar h3 {
  margin-left: 50px;
  color:rgb(148, 148, 148);
}

.Product {
  border: 1px solid rgb(131, 131, 131);
  margin-bottom: 20px;
  margin-top:40px;
  box-shadow: -3px 4px 5px  rgb(148, 148, 148);
  margin-right: 20px;
  width: 20%;
}
.Product-img {
  background-image: url(https://webcaycanh.com/wp-content/uploads/2020/08/cay-xuong-rong-bong-gon.jpg);
  width:120px;
  height:120px;
  background-size:cover;
  background-origin: content-box;
  margin:auto;
}
.Product-content {
  padding:20px;
  
}
.Product-content span {
  border-radius: 8px;
  border: 1px solid rgb(54, 54, 54);
}
.Product-content-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20px;
}
.Navbar-Page {
  width:61.8%;
}

/* add items */

.addvalue-dashboard {
  position: relative;
    top: -846px;
    /* left: 0px; */
    width: 1200px;
    height: 800px;
    background-color: #f1f1f1;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    display: none;
}
.addvalue-dashboard-title {
  position: absolute;
}
.addvalue-dashboard-close {
  width:20px;
  height:20px;
  position: relative;
  left:1115px;
}
.addvalue-dashboard-close-image {
  width:20px;
  height:20px;
  position: relative;
  left:1015px;
  top:100px;
}
.addvalue-dashboard-left {
  margin-top: 50px;
}

.addvalue-dashboard-left-input input {
  min-width: 500px;
}
.addvalue-dashboard-right {
  background-image: url(https://cb.scene7.com/is/image/Crate/EllaWhiteTableLampOffSHF15);
  background-size: cover;
  width: 500px;
  height: 387px;
  margin-top: 100px;
  margin-left: 50px;
}
.addvalue-dashboard-middle {
  width:500px;
}
.addvalue-dashboard-middle input {
  width:1046px;
  height:100px;
  border-radius:20px;

}
.addvalue-dashboard-bottom {
  width: 92%;
  justify-content: space-between;
  display: flex;
}
.addvalue-dashboard-left-input-icon {
  width:30px;
  height:30px;

  
}
.addvalue-dashboard-left-input a {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 500px;
  top: 400px;
}
.addvalue-dashboard-bottom ::after {
  content:"";
  width:1000px;
  height:5px;
  background-color:red;
}


/* icon input*/
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon { 
  padding: 10px 0 10px 0;
  min-width: 50px;
  text-align: center;
}